.topbar
  %p Dashboard

#dashboard-container
  = form_tag "/stores" do
    = select_tag("store[store_id]", options_for_select(@stores_array), :class => 'form-control')
    = submit_tag 'View your website', :class => 'btn btn-primary'


