//----- Styles for /admin/dashboard -----//
// Common properties for the statistics boxes in the admin dashboard view.
@mixin stats-divs {
  display: inline-block;
  width: 47%;
  height: 300px;
  border-radius: 5px;
  padding-top: 15px
}

#dashboard-container {
  position: relative;
  padding: 20px 20px 40px 20px;

  div#product-stats {
    @include stats-divs;

    margin-right: 2%;
    margin-left: 10px;
    margin-top: 10px;
  }

  div#staff-stores-stats {
    @include stats-divs;

    margin-left: 2%;
  }
}

//----- Settings view -----//

#settings-container {
  padding: 20px 20px 40px 20px;
}



