//----- Styles for root_path ----//
#home-view-container {

  #topbar {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 55px;

    h1 {
      display: inline-block;
      position: absolute;
      left: 20px;
      top: 8px;
      color: white;
    }

    .link {
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 8px;
      font-size: 1.8em;
      padding-left: 10px;
      border-left: 1px solid #dddddd;
    }
  }

  #account-create {
    position: relative;
    height: 60px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.7);

    #index-form-container {
      position: absolute;
      right: 10px;
      .btn {
        margin-top: 0px !important;
        width: 150px;
      }
    }
  }
}

// Styles for step 2 sign-up and log-in forms.
.centred-view-container {
  text-align: center;
  padding-top: 80px;

  .form-outer-container {
    display: inline-block;
    width: 400px;
    text-align: center;
  }

  .form-container {

    .btn {
      margin-top: 20px;
    }

    .flash-errors {
      font-size: 18px;
      color: red;
    }
  }
}


