//----- Styles for /admin/products -----//
.images-list {
  width: 64px;
  height: 47px;
}

.images-large {
  width: 450px;
}

#product-image-column {
  position: fixed;
  width: 450px;
  height: 100%;

  p {
    padding: 10px;
  }
}

#product-content {
  margin-left: 450px;
  margin-right: 20px;
  padding-left: 20px;

  span {
    font-weight: bold;
  }
}

.btn {
    margin-top: 10px !important;
}

#products-show {

  .tablesorter-default td {
    padding: 15px !important;
  }

  td {
    font-size: 1.5em;
  }

  tr th {
    font-size: 1.6em !important;
  }
}

.form-horizontal {
  label {
    margin-bottom: 0;
    margin-top: 4px;
  }
}
