//----- Styles for the sidebar through /admin -----//
#sidebar {
  background-color: #E0DDDA;
  position: fixed;
  height: 100%;
  width: 19%;
  border-right: 2px solid #403F3E;
  list-style: none;
  font-size: 1.5em;
  li {
    color: black;
    padding: 12px 0 12px 20px;
    // border-bottom: 1px solid #dddddd;
  }
  li:hover {
    background-color: #4D8AE5;
  }
}
