//----- Page & setup styles -----//

@mixin respond-to($val, $query) {
  @media ($val: $query) {
    @content;
  }
}

body {
  background-color: white;
}

#store-page-container {
  max-width: 94%;
  margin: auto;
  @include respond-to(min-width, 1200px) {
    max-width: 1200px;
  }
}

//----- Top-bar styles -----//

#top-main-bar {
  position: relative;
  border-bottom: 2px solid black;
  height: 90px;
  margin-bottom: 45px;

  @include respond-to(max-width, 780px) {
    height: 130px;
    text-align: center;
  }


  h1 {
    position: absolute;
    display: inline-block;
    top: 15px;
    left: 0px;
    padding: 10px 0 0 20px;
    font-size: 3.7em;

    @include respond-to(max-width, 780px) {
      position: static;
      padding: 10px 0 0 10px;
    }
  }
}

#top-main-bar-links {
  position: absolute;
  right: 20px;
  bottom: 0px;
  font-size: 20px;
  word-spacing: 60px;

  @include respond-to(max-width, 780px) {
    position: static;
    word-spacing: 0px;
    margin-top: 20px;
  }

  ul {
    // This peice of shit!
    padding-left: 0;
  }

  $li-padding: 40px;
  li {
    display: inline-block;

    @include respond-to(max-width, 780px) {
      &:first-child {
        padding-right: $li-padding;
      }
      &:last-child {
        padding-left: $li-padding;
      }
    }
  }
}

//----- All products view grid styles ------//

.row {
  margin: 0;

  #grid-columns {
  position: relative;
  // z-index: -10;

    #product-tile {
      background-repeat: no-repeat;
      background-position: center;
      background-origin: center;
      // background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 320px;
      margin: 5px;
      z-index: -10;

      @include respond-to(max-width, 990px) {
      height: 380px;
      }
      @include respond-to(max-width, 780px) {
        height: 300px;
      }
      @include respond-to(max-width, 690px) {
        height: 270px;
      }
      @include respond-to(max-width, 510px) {
        height: 230px;
      }
    }
  }
}

#product-icons-top-dropdown {
  position: absolute;
  background-color: green;
  height: 40px;
  top: 0;
  z-index: 10;
}

#product-icons-bot-dropdown {
  position: absolute;
  height: 40px;
  background-color: green;
  bottom: 0;
  z-index: 10;
}


//------ Product view styles -----//












































